.button--phone {
  color: cornflowerblue!important;
}

.button--email {
  color: #ffb836!important;
}

.listview-list {
    position: fixed;
    display: block;
    top: 90px;
    bottom: 50px;
    width: calc(100% - 27px);
    overflow: scroll;
    overflow-y:auto;
    overflow-x:hidden;
}

.listview-smartlist { 
    position: fixed;
    display: block;
    top: 90px;
    right:0px;
    bottom: 50px;
    width: 25px;
    overflow: scroll;
    overflow-y:auto;
    overflow-x:hidden;
}

.listview-smartlist a {
  padding-top: 1px;
  color: cornflowerblue;
  font-size: medium;
}